.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto auto auto ;
    width: 50%;
    margin-left: 150px;

   
  
}


.Gene{
    width: 120px;
    height: 120px;
    background-color: rgb(116, 107, 107);
    border: 3px solid;
}

.Paola{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border: 3px solid;
}
.etique{
   font-size: 100px;
   margin-left: 10px;
  color: rgb(77, 74, 74);
}
.etiquee{
    font-size: 100px;
    margin-left: 10px;
   color: rgb(0, 0, 0);
 }

.gen{
    
    font-size: 60px;
    margin-left: 100px;
}
.numero{
   font-size: 40px;
    position: absolute;
    margin-top: 40px;
    margin-left: 80px;

    row-gap: 79px;
    display: grid;
}
.numeroo{
    font-size: 40px;
     position: absolute;
     margin-top: 40px;
     margin-left: 1200px;
 
     row-gap: 79px;
     display: grid;
 }
